@mixin button {
  display: flex;
  align-items: center;
  appearance: none;
  cursor: pointer;
  border: 1px solid;
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
  line-height: 1.5;

  & svg {
    transition: all 0.15s ease-in-out;
  }
}

@mixin buttonPrimary {
  border-color: $primary-brand;
  background-color: $primary-brand-black;
  color: $primary-brand;

  &:hover {
    border-color: $primary-brand;
    background-color: $primary-brand;
    color: $primary-brand-black;

    & svg {
      fill: $primary-brand-black;
    }
  }

  &:active {
    border-color: $primary-brand-active;
    background-color: $primary-brand-active;
    color: $primary-brand-black;

    & svg {
      fill: $primary-brand-black;
    }
  }

  &:disabled {
    border-color: $primary-brand-disabled;
    background-color: $primary-brand-disabled;
    color: $primary-brand-disabled-text;
    cursor: not-allowed;

    & svg {
      fill: $primary-brand-disabled-text;
    }
  }
}

@mixin buttonSecondary {
  border-color: $secondary-brand;
  background-color: $secondary-brand-black;
  color: $secondary-brand;

  &:hover {
    border-color: $secondary-brand;
    background-color: $secondary-brand;
    color: $white;

    & svg {
      fill: $white;
    }
  }

  &:active {
    border-color: $secondary-brand-active;
    background-color: $secondary-brand-active;
    color: $white;

    & svg {
      fill: $white;
    }
  }

  &:disabled {
    border-color: $secondary-brand-disabled;
    background-color: $secondary-brand-disabled;
    color: $secondary-brand-disabled-text;
    cursor: not-allowed;

    & svg {
      fill: $secondary-brand-disabled-text;
    }
  }
}

@mixin buttonSmall {
  padding: 0.75rem 1.5rem;
  border-radius: $radius-md;
  font-size: 1rem;
}

@mixin buttonMedium {
  padding: 1rem 3rem;
  border-radius: $radius-lg;
  font-size: 1.5rem;
}
