$primary-brand: #00bd7e;
$primary-brand-hover: #00bd7ed3;
$primary-brand-active: #006946;
$primary-brand-disabled: #c8c8c8;
$primary-brand-disabled-text: #919191;

$secondary-brand: #3d899c;
$secondary-brand-hover: #3c5b6f;
$secondary-brand-active: #37474f;

$white: #eceff1;
$black: #181818;

$disabled: #c8c8c8;
$disabled-text: #919191;
