$primary-brand: #00bd7e;
$primary-brand-active: #006946;
$primary-brand-black: #181818;
$primary-brand-disabled: #c8c8c8;
$primary-brand-disabled-text: #919191;

$secondary-brand: #35495e;
$secondary-brand-active: #263238;
$secondary-brand-black: #181818;
$secondary-brand-disabled: #c8c8c8;
$secondary-brand-disabled-text: #919191;

$white: #eceff1;
$black: black;
